// Override Boosted's Sass default variables before inporting boosted scss
@use 'boosted/scss/orange-helvetica';
@use 'boosted/scss/boosted';

$functional-green: #228722;

$font-path: '/fonts/';

body{
  font-family:'Verdana', sans-serif;
}

