/* introduction.html */

.intro .masked-link {
  cursor: text;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* 2-1 Simulation Visuel */
#text-bloc {
  border: 2px solid #000000;
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  width: auto;
  height: auto;
  position: fixed;
  top: 10px;
  left: 10px;
}

.visuel21 {
  background-color: black;
  border: none;
  color: #000;
}

/* 3-1 Simulation Cognitif */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#content {
  text-align: center;
  color: black;
  animation: moveContent 5s infinite, fadeInOut 5s infinite;
}

@keyframes moveContent {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(200px, 200px);
  }

  50% {
    transform: translate(400px, 0);
  }

  75% {
    transform: translate(200px, -200px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* 4 - moteur */

.close-popup {
  height: 14px;
  width: 14px;
  font-size: 14px;
}

.cursor {
  cursor: none !important;
}

.height40 {
  height: 40rem;
}

/* 5 - auditif */

#controls {
  cursor: none;
}

/* 5.1 auditif */
.video-container {
  text-align: center;
  margin-top: 20px;
}

.nonSelectionnable {
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none;
  /* Internet explorer depuis la version 10 et Edge */
  user-select: none;
  /* Propriété standard */
}

/* 7 scores */
.title-bar {
  border-bottom: 0;
}

.main-title {
  text-align: center;
}

.subtitle, .column-title {
  text-align: center;
}

.table {
  text-align: center;
}

.table tr {
  border: none;
}

.table-active td:first-of-type {
  border-start-start-radius: 50px;
  border-end-start-radius: 50px;
}

.table-active td:last-of-type {
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
}

.table-active {
  --bs-table-active-bg: #527edb;
  --bs-table-active-color: #fff;
  font-weight: bold;
}

.current {
  background-color: black !important;
  color: #FF7900 !important;
}

.scrollable-table-container {
  height: 350px; /* Hauteur pour 5 lignes */
  overflow-y: auto;
}

.vertical-align {
  vertical-align: middle;
}

.zoom {
  width: 40px;
  height: 40px;
}

.scores-img {
  width: 480px;
  height: 213px;
}

.display-0 {
  font-size: 7rem;
  line-height: .8;
}
