/* 1 - Introduction */

.link:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* 2-1 Simulation Visuel */
#text-bloc {
    border: 2px solid #000000;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    width: auto;
    height: auto;
    position: fixed;
    top: 10px;
    left: 10px;
}

.visuel21 {
    background-color: black;
    border: none;
    color: #000;
}

.nonSelectionnable
{
 -moz-user-select: none; /* Firefox */
 -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
 -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
 user-select: none; /* Propriété standard */
}